# Entornos virtuales
.venv/
venv/

# Variables de entorno
.env

# Caché de Python
__pycache__/
*.pyc

# Base de datos vectorial generada
vector_db/

# Configuración de VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db